.primaryButton {
  display: inline-block;
  padding: 4px 8px;
  margin: 5px 2px;
  border: solid 1px;
  border-radius: 0;

  font-size: 10px;
  letter-spacing: 3px;
  line-height: var(--line-m);
  font-weight: 900;

  background-color: transparent;
  color: var(--neutral-900);

  &:enabled:hover {
    color: rgb(64, 167, 156);
  }

  &:enabled:active {
    transform: translateY(1px);
    background-color: #d4d4d4;
  }

  &:disabled {
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    color: var(--neutral-500);
  }

  cursor: pointer;
}
