.primaryButton {
  border: solid 1px;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.65rem;
  letter-spacing: 3px;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem 0.2rem;
  line-height: 2rem;
  background-color: transparent;
  font-weight: 900;

  &:enabled:hover {
    color: rgb(64, 167, 156);
  }

  &:enabled:active {
    transform: translateY(1px);
    background-color: #d4d4d4;
  }

  &:disabled {
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    color: var(--neutral-500);
  }
}
