.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  height: 10vh;
  color: var(--neutral-0);
}
.banner::before,
.banner:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 50%;
  width: 20%;
  border-top: solid 1px white;
}
.banner::before {
  left: 0;
  margin-right: 10px;
}
.banner:after {
  right: 0;
  margin-left: 10px;
}
.topBorder {
  border-top: solid 1px var(--neutral-0);
}

.bottomBorder {
  border-bottom: solid 1px var(--neutral-0);
}
