.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.light {
  background-color: var(--neutral-0);
}
.dark {
  background-color: var(--project-dark);
  color: white;
}
