.projectContainerLight {
  background-color: var(--neutral-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projectContainerDark {
  background-color: var(--project-dark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
